<!DOCTYPE html>
<html>
<head>
    <title>Pickle Model App</title>
</head>
<body>
    <h1>Pickle Model App</h1>
    <form action="/predict" method="post">
        <label for="cement">Cement:</label>
        <input type="text" id="cement" name="cement"><br><br>
        <label for="blastFurnace">Blast Furnace:</label>
        <input type="text" id="blastFurnace" name="blastFurnace"><br><br>
        <label for="flyAsh">Fly Ash:</label>
        <input type="text" id="flyAsh" name="flyAsh"><br><br>
        <label for="water">Water:</label>
        <input type="text" id="water" name="water"><br><br>
        <label for="superplasticizer">Superplasticizer:</label>
        <input type="text" id="superplasticizer" name="superplasticizer"><br><br>
        <label for="courseAggregate">Course Aggregate:</label>
        <input type="text" id="courseaggregate" name="courseaggregate"><br><br>
        <label for="fineAggregate">Fine Aggregate:</label>
        <input type="text" id="fineaggregate" name="fineaggregate"><br><br>
        <label for="age">Age:</label>
        <input type="text" id="age" name="age"><br><br>
        <input type="submit" value="Predict">
    </form>
</body>
</html>
